#buy {
    padding: 10px 60px;
    background-color: #41338b;
    color: white;
    border-radius: 30px;
    font-size: 17px;
    border: none;
    box-shadow: 0px -0.5px 3px rgb(44, 44, 132);
  }

.btn_user{
  margin-right: 10px;
}
  