.homePage{
    min-height: 100vh;
    min-width: 100vw;
    margin-top: -10px;
}

.apartadoTitle{
    height: 90px;
    background: linear-gradient(to bottom, #151419, #0d144e);
    display: flex;
    align-items: center;
    margin: 0;
}