.box-container{
    margin-top: 10px;
    margin-left: 70px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.box-container{
    width: 300px;
    text-align: center;
    border-radius: 5%;
    transition: background-color 0.4s, box-shadow 0.4s, transform 0.4s;
    padding-top: 15px;
}

.box-container:hover {
    background-color: rgb(215, 215, 215);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
  }